<br><br><br><br>
<div class="container" style="display: flex; justify-content: end;">
  <a type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal"> Novo Curso </a>
</div>
<br><br>

<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descricão</th>
        <th scope="col">Data Inicio</th>
        <th scope="col">Data Termino</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cursos, let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ c.descricao }}</td>
        <td>{{ c.dataInicio }}</td>
        <td>{{ c.dataFinal }}</td>
        <td>{{ c.categoria.categoriaName }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal de Inserção e atualização -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
